* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem 0;
  justify-content: center;
  justify-items: center;
  margin: 5rem;
}
button {
  position: relative;
  border: 0;
  color: black;
  background-color: #8dcbff;
  font-size: 20px;
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/**************************************/
.grow:hover {
  transform: scale(1.2);
}

/**************************************/
.shrink:hover {
  transform: scale(0.8);
}

/**************************************/
.left {
  overflow: hidden;
}
.left::before {
  content: "";
  position: absolute;
  background-color: #157891;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: left 0.3s ease-in-out;
}
.left:hover::before {
  left: 0;
}
.left span {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease-in-out;
}
.left:hover span {
  color: white;
}

/**************************************/
.right {
  overflow: hidden;
}
.right::before {
  content: "";
  position: absolute;
  background-color: #157891;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  transition: right 0.3s ease-in-out;
}
.right:hover::before {
  right: 0;
}
.right span {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease-in-out;
}
.right:hover span {
  color: white;
}

/**************************************/
.bottom {
  overflow: hidden;
}
.bottom::before {
  content: "";
  position: absolute;
  background-color: #fb8500;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: -100%;
  transition: bottom 0.3s ease-in-out;
}
.bottom:hover::before {
  bottom: 0;
}
.bottom span {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease-in-out;
}
.bottom:hover span {
  color: white;
}

/**************************************/
.top {
  overflow: hidden;
}
.top::before {
  content: "";
  position: absolute;
  background-color: #fb8500;
  width: 100%;
  height: 100%;
  right: 0;
  top: -100%;
  transition: top 0.3s ease-in-out;
}
.top:hover::before {
  top: 0;
}
.top span {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease-in-out;
}
.top:hover span {
  color: white;
}

/**************************************/
.vertical {
  overflow: hidden;
}
.vertical::before {
  content: "";
  position: absolute;
  background-color: #fb8500;
  width: 51%;
  height: 100%;
  right: 0;
  top: -100%;
  transition: top 0.3s ease-in-out;
}
.vertical::after {
  content: "";
  position: absolute;
  background-color: #fb8500;
  width: 50%;
  height: 100%;
  left: 0;
  top: 100%;
  transition: top 0.3s ease-in-out;
}
.vertical:hover::before,
.vertical:hover::after {
  top: 0;
}
.vertical span {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease-in-out;
}
.vertical:hover span {
  color: white;
}

/**************************************/
.horizontal {
  overflow: hidden;
}
.horizontal::before {
  content: "";
  position: absolute;
  background-color: #fb8500;
  width: 100%;
  height: 50%;
  right: 100%;
  top: 0;
  transition: right 0.3s ease-in-out;
}
.horizontal::after {
  content: "";
  position: absolute;
  background-color: #fb8500;
  width: 100%;
  height: 50%;
  right: -100%;
  bottom: 0;
  transition: right 0.3s ease-in-out;
}
.horizontal:hover::before,
.horizontal:hover::after {
  right: 0;
}
.horizontal span {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease-in-out;
}
.horizontal:hover span {
  color: white;
}

/**************************************/
.ltrb{
  grid-column:1 / 3;
}
.ltrb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 3px solid #3a5a40;
  border-left: 3px solid #3a5a40;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
}

.ltrb::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom: 3px solid #3a5a40;
  border-right: 3px solid #3a5a40;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
}

.ltrb:hover::after,
.ltrb:hover::before {
  width: calc(100% - 3px);
  height: calc(100% - 3px);
}

/**************************************/
.rtlb{
  grid-column:3 / 5;
}
.rtlb::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 3px solid #3a5a40;
  border-right: 3px solid #3a5a40;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
}

.rtlb::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #3a5a40;
  border-left: 3px solid #3a5a40;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
}

.rtlb:hover::after,
.rtlb:hover::before {
  width: calc(100% - 3px);
  height: calc(100% - 3px);
}

/**************************************/
.accept{
  background-color: #57cc99;
  color: white;
  border-radius: 5px;
  grid-column: 2/3;
  overflow: hidden;
}

.bi-check{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  transition: all 0.3s ease-in-out;
}
.accept:hover .bi-check{
  bottom: 0;
}
.accept .action{
  display: block;
  transition: all 0.3s ease-in-out;
}
.accept:hover .action{
  transform: translateY(-200%);
}

/**************************************/
.delete{
  background-color: #ed476f;
  color: white;
  border-radius: 5px;
  grid-column: 3/4;
  overflow: hidden;
}

.bi-x{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 100%;
  transition: all 0.3s ease-in-out;
}
.delete:hover .bi-x{
  bottom: 0;
}
.delete .action{
  display: block;
  transition: all 0.3s ease-in-out;
}
.delete:hover .action{
  transform: translateY(200%);
}