.gallery{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.image {
    background-color: #e5e5e5;
    /* display: inline-block; */
    padding: 10px;
    box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.7);
}

.image img {
    object-fit: cover;
}

.caption {
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

.image:nth-child(even){
    transform: rotate(10deg);
}

.image:nth-child(even)::before{
    content: '';
    display: block;
    background-color: #a3b18a;
    width: 100px;
    height: 25px;
    transform: translate(-30px,-12px) rotate(-25deg) ;
    
}

.image:nth-child(odd){
    transform: rotate(-10deg);
}

.image:nth-child(odd)::before{
    content: '';
    display: block;
    background-color: #a3b18a;
    width: 100px;
    height: 25px;
    transform:  translate(190px, -5px) rotate(25deg);
    
}